@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #616161;
    --secondary-color: #f66e0d;
    --tertiary-color: #f5e6c8;
    --bg-color: #313131;
    --bg-secondary-color: #2b2b2b;
    --error-color: #e72d2d;
    --extra-color: #7e2a33;
    --max-col: auto-fill;
    --min-item-size: 250px;
  }

  html {
    overflow-y: scroll;
    scrollbar-color: var(--primary-color) transparent;
    scrollbar-width: thin;
  }

  html::-webkit-scrollbar {
    width: 8px;
  }
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  html::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 2px;
  }
  html::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-color);
  }
  html::-webkit-scrollbar-thumb:active {
    background-color: var(--secondary-color);
  }
}

body {
  @apply transition-colors duration-200;
}
#settingsPage * {
  @apply transition-colors duration-200;
}

@layer utilities {
  .wrapper {
    @apply w-full flex justify-center;
  }
  .contain {
    @apply max-w-[1200px] w-[90%] flex;
  }
  .settings-section {
    @apply flex flex-col gap-6 w-full overflow-hidden;
  }
  .hover-tooltip {
    @apply cursor-pointer relative before:text-base after:text-base before:absolute before:bg-[hsla(0,0%,6%,0.95)] before:text-white before:w-max before:py-1.5 before:px-4 before:left-1/2 before:-translate-x-1/2 before:bottom-[calc(100%+6px)] after:absolute  after:border-transparent after:border-l-[6px] after:border-r-[6px] after:border-t-[6px] after:border-t-[hsla(0,0%,6%,0.95)] after:left-1/2 after:-translate-x-1/2 after:bottom-full before:opacity-0 after:opacity-0 before:translate-y-[0.375em] after:translate-y-[0.375em] hover:before:opacity-100 hover:after:opacity-100 hover:before:translate-y-0 hover:after:translate-y-0 before:pointer-events-none after:pointer-events-none before:transition-all after:transition-all before:duration-200 after:duration-200 before:content-[attr(tooltip)];
  }
}

@media (min-width: 905px) {
  :root {
    --max-col: 3;
  }
}
